<p id="notice"><%= notice %></p>

<h1>Start page</h1>


<br/>
<pre> <%= link_to 'show_map', transferts_map_path %> </pre>
<br/>
<pre> <%= link_to 'show transferts list', transferts_path %> </pre>
<br/>
<pre> <%= link_to '1 reload budget-koatuu link table', reload_linktable_path, data: { confirm: 'Are you sure?' } %> </pre>
<br/>
<pre> <%= link_to '2 attach_transfert_values', attach_transfert_values_path, data: { confirm: 'Are you sure?' } %> </pre>
<br/>
<pre> 
  <%= link_to '3.1 load_areas1_from_json_file', load_areas1_from_json_file_path, data: { confirm: 'Are you sure?' } %> 
  <pre> <%= link_to 'show loaded areas ', areas_path %> </pre>
</pre>

<pre> 
  <%= link_to '3.2 load_areas2_from_json_file', load_areas2_from_json_file_path, data: { confirm: 'Are you sure?' } %> 
  <pre> <%= link_to 'show loaded areas ', areas_path %> </pre>

</pre>


<br/>
<pre> <%= link_to '4 build_links_to_area', build_links_to_area_path, data: { confirm: 'Are you sure?' } %> </pre>
<br/>



<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @starts.each do |start| %>
      <tr>
        <td><%= link_to 'Show', start %></td>
        <td><%= link_to 'Edit', edit_start_path(start) %></td>
        <td><%= link_to 'Destroy', start, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- %= link_to 'New Start', new_start_path % -->
