<p id="notice"><%= notice %></p>

<p>
  <strong>Code koatuu:</strong>
  <%= @transfert.code_koatuu %>
</p>

<p>
  <strong>Code:</strong>
  <%= @transfert.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transfert.name %>
</p>

<p>
  <strong>Coord x:</strong>
  <%= @transfert.coord_x %>
</p>

<p>
  <strong>Coord y:</strong>
  <%= @transfert.coord_y %>
</p>

<p>
  <strong>Baz dot:</strong>
  <%= @transfert.baz_dot %>
</p>

<p>
  <strong>Rev dot:</strong>
  <%= @transfert.rev_dot %>
</p>

<%= link_to 'Edit', edit_transfert_path(@transfert) %> |
<%= link_to 'Back', transferts_path %>
